export(AICstats_2models)
export(AkaikeWeights_and_Ratios_pairwise_on_summary_table_compared_to_ref)
export(AkaikeWeights_on_summary_table)
export(BioGeoBEARS_model_defaults)
export(BioGeoBEARS_model_object_to_est_params)
export(BioGeoBEARS_model_object_to_init_params)
export(BioGeoBEARS_model_object_to_params_lower)
export(BioGeoBEARS_model_object_to_params_upper)
export(LGcpp_MLstate_per_node)
export(LGcpp_splits_fn_to_table)
export(LGcpp_splits_fn_to_table2)
export(LGcpp_states_fn_to_table)
export(LGpy_MLsplit_per_node)
export(LGpy_splits_fn_to_table)
export(Pdata_given_rangerow)
export(Pdata_given_rangerow_dp)
export(add_corners)
export(add_to_downpass_labels)
export(addslash)
export(adf)
export(adf2)
export(areas_list_to_states_list_new)
export(average_tr_tips)
export(axisPhylo2)
export(bears_2param_DIVA_fast)
export(bears_2param_standard_fast)
export(bears_2param_standard_fast_fixnode)
export(bears_2param_standard_fast_fortest)
export(bears_2param_standard_fast_symOnly)
export(bears_2param_standard_fast_symOnly_simp)
export(bears_2param_standard_slowQ_slowSP)
export(bears_3param_standard_fast)
export(bears_3param_standard_fast_fixnode)
export(bears_3param_standard_fast_noJ)
export(bears_4param_standard_fast)
export(bears_5param_standard_fast)
export(bears_5param_standard_fast_diffstart)
export(bears_5param_standard_fast_v)
export(bears_6param_standard_fast_ys_v)
export(bears_9param_standard_fast_ys_v_cb)
export(bears_optim_run)
export(binary_range_to_letter_code_list)
export(binary_range_to_letter_code_txt)
export(binary_ranges_to_letter_codes)
export(calcP_n)
export(calcZ_part)
export(calc_AIC_column)
export(calc_AIC_vals)
export(calc_AICc_column)
export(calc_AICc_vals)
export(calc_linked_params_BioGeoBEARS_model_object)
export(calc_loglike_for_optim)
export(calc_loglike_for_optim_stratified)
export(calc_loglike_sp)
export(calc_loglike_sp_prebyte)
export(calc_loglike_sp_stratified)
export(calc_obs_like)
export(calc_post_prob_presence)
export(calc_prob_forward_onebranch_dense)
export(calc_prob_forward_onebranch_sparse)
export(chainsaw2)
export(check_BioGeoBEARS_run)
export(check_if_state_is_allowed)
export(cls.df)
export(colors_legend)
export(conditional_format_cell)
export(conditional_format_table)
export(corner_coords)
export(cornerlabels)
export(cornerpies)
export(default_states_list)
export(define_BioGeoBEARS_model_object)
export(define_BioGeoBEARS_run)
export(define_tipranges_object)
export(dfnums_to_numeric)
export(divide_probs_by_number_of_options_nums)
export(divide_probs_by_number_of_options_txt)
export(expand.grid.alt)
export(expand.grid.jc)
export(expokit_dgpadm_Qmat2)
export(expokit_dgpadm_Qmat2_prebyte)
export(extend_tips_to_ultrametricize)
export(extract_numbers)
export(findall)
export(getAIC)
export(getAIC_weight_for_model1)
export(getAICc)
export(get_AICweight_ratio_model1_over_model2)
export(get_APE_nodenums)
export(get_Akaike_weight_ratio_from_Akaike_pairwise_weights)
export(get_Akaike_weights_from_rel_likes)
export(get_Akaike_weights_from_rel_likes_pairwise)
export(get_ML_probs)
export(get_ML_state_indices)
export(get_ML_states)
export(get_ML_states_from_relprobs)
export(get_MLsplitprobs_from_results)
export(get_TF_tips)
export(get_all_daughter_tips_of_a_node)
export(get_all_node_ages)
export(get_colors_for_numareas)
export(get_daughters)
export(get_deltaAIC)
export(get_deltaAIC_pairwise_w_ref_model)
export(get_edge_times_before_present)
export(get_fn_prefix)
export(get_indices_of_branches_under_tips)
export(get_indices_of_tip_nodes)
export(get_indices_where_list1_occurs_in_list2)
export(get_indices_where_list1_occurs_in_list2_noNA)
export(get_inf_LgL_etc_optimx)
export(get_infparams_optimx)
export(get_infparams_optimx_nosim)
export(get_infprobs_of_simstates)
export(get_lagrange_nodenums)
export(get_leftright_nodes_matrix_from_results)
export(get_level)
export(get_max_height_tree)
export(get_node_ages_of_tips)
export(get_nodenum_structural_root)
export(get_nodenums)
export(get_parent)
export(get_path_first)
export(get_path_last)
export(get_perEvent_probs)
export(get_probvals)
export(get_pruningwise_nodenums)
export(get_relative_prob_model1old)
export(get_relative_prob_model2old)
export(get_rownum_ref_model)
export(get_simparams)
export(get_simstates)
export(get_sister_node)
export(get_statesColors_table)
export(get_tiplabel_ranges)
export(getareas_from_tipranges_object)
export(getname)
export(getranges_from_LagrangePHYLIP)
export(given_a_starting_state_simulate_branch_end)
export(given_a_starting_state_simulate_split)
export(infprobs_to_probs_of_each_area)
export(infprobs_to_probs_of_each_area_from_relprobs)
export(is.not.na)
export(label_nodes_postorder_phylo3)
export(letter_string_to_binary)
export(letter_strings_to_tipranges_df)
export(list2str)
export(lrttest)
export(lrttest_on_summary_table)
export(make_dispersal_multiplier_matrix)
export(make_relprob_matrix_bi)
export(make_relprob_matrix_de)
export(make_relprob_nummatrix_sp1)
export(make_relprob_txtmatrix_sp1)
export(make_spmat_row)
export(map_LG_MLsplits_to_tree)
export(map_LG_MLsplits_to_tree_corners)
export(map_LG_MLstates_to_tree)
export(map_LGpy_MLsplits_to_tree)
export(mapply_calc_obs_like)
export(mapply_calc_post_prob_presence)
export(mapply_likelihoods)
export(mapply_likelihoods_prebyte)
export(match_list1_in_list2)
export(maxsize)
export(merge_words_nonwords)
export(meval)
export(mix_colors_for_states)
export(moref)
export(nodenums_bottom_up)
export(normat)
export(np)
export(nullsym_to_NA)
export(order_LGnodes)
export(order_tipranges_by_tr)
export(order_tipranges_by_tree_tips)
export(params_into_BioGeoBEARS_model_object)
export(parse_lagrange_output)
export(parse_lagrange_output_old)
export(parse_lagrange_python_output)
export(parse_lagrange_python_output_old)
export(paste_rows_without_zeros)
export(pdfit)
export(pdftable)
export(plot_BioGeoBEARS_model)
export(plot_BioGeoBEARS_results)
export(plot_cladogenesis_size_probabilities)
export(post_prob_states)
export(post_prob_states_matrix)
export(postorder_nodes_phylo4_return_table)
export(prflag)
export(printall)
export(prob_of_states_from_prior_prob_areas)
export(process_optim)
export(prt)
export(prt_tree_to_phylo4)
export(prune_specimens_to_species)
export(prune_states_list)
export(rangestxt_to_colors)
export(read_PHYLIP_data)
export(read_area_of_areas_fn)
export(read_areas_allowed_fn)
export(read_controls)
export(read_detections)
export(read_dispersal_multipliers_fn)
export(read_distances_fn)
export(read_times_fn)
export(readfiles_BioGeoBEARS_run)
export(rel_likes_from_deltaAICs)
export(rel_likes_from_deltaAICs_pairwise)
export(relative_probabilities_of_subsets)
export(relative_probabilities_of_vicariants)
export(remove_null_rowcols_from_mat)
export(return_items_not_NA)
export(save_tipranges_to_LagrangePHYLIP)
export(section_the_tree)
export(sfunc)
export(simstates_to_probs_of_each_area)
export(simulate_biogeog_history)
export(simulated_indexes_to_tipranges_file)
export(simulated_indexes_to_tipranges_object)
export(size_species_matrix)
export(slashslash)
export(sourceall)
export(states_list_indexes_to_areastxt)
export(strsplit2)
export(strsplit_whitespace)
export(symbolic_cell_to_relprob_cell)
export(symbolic_cell_to_relprob_cell_sp)
export(symbolic_to_P_matrix)
export(symbolic_to_Q_matrix)
export(symbolic_to_Q_matrix_exper)
export(symbolic_to_relprob_matrix_sp)
export(tiplikes_wDetectionModel)
export(tipranges_to_area_strings)
export(tipranges_to_tip_condlikes_of_data_on_each_state)
export(traverse_up)
export(unlist_df)
export(unlist_df2)
export(unlist_df3)
export(unlist_df4)
export(unlist_dtf_cols)
export(vfunc)
export(yfunc)
importFrom("optimx", optimx)
importFrom("FD", maxent)
importFrom("gdata", trim)
importFrom("xtable", xtable)
importFrom("plotrix", addtable2plot, color2D.matplot, color.gradient, color.legend)
importFrom("parallel", clusterApply, makeCluster, detectCores, stopCluster)
