export(AICstats_2models)
export(AkaikeWeights_and_Ratios_pairwise_on_summary_table_compared_to_ref)
export(AkaikeWeights_on_summary_table)
export(addslash)
export(adf)
export(adf2)
export(bears_2param_standard_fast)
export(bears_2param_standard_fast_fortest)
export(bears_2param_standard_fast_symOnly)
export(bears_2param_standard_slowQ_slowSP)
export(bears_3param_standard_fast)
export(bears_3param_standard_fast_noJ)
export(bears_4param_standard_fast)
export(bears_5param_standard_fast)
export(bears_5param_standard_fast_diffstart)
export(bears_5param_standard_fast_v)
export(bears_6param_standard_fast_ys_v)
export(binary_range_to_letter_code_list)
export(binary_range_to_letter_code_txt)
export(binary_ranges_to_letter_codes)
export(calcP_n)
export(calcZ_part)
export(calc_AIC_column)
export(calc_AIC_vals)
export(calc_AICc_column)
export(calc_AICc_vals)
export(calc_loglike_sp)
export(calc_loglike_sp_prebyte)
export(cls.df)
export(conditional_format_cell)
export(conditional_format_table)
export(define_tipranges_object)
export(dfnums_to_numeric)
export(divide_probs_by_number_of_options_nums)
export(divide_probs_by_number_of_options_txt)
export(expand.grid.alt)
export(expand.grid.jc)
export(expokit_dgpadm_Qmat2)
export(expokit_dgpadm_Qmat2_prebyte)
export(getAIC)
export(getAIC_weight_for_model1)
export(getAICc)
export(get_AICweight_ratio_model1_over_model2)
export(get_Akaike_weight_ratio_from_Akaike_pairwise_weights)
export(get_Akaike_weights_from_rel_likes)
export(get_Akaike_weights_from_rel_likes_pairwise)
export(get_ML_probs)
export(get_ML_state_indices)
export(get_ML_states)
export(get_ML_states2)
export(get_deltaAIC)
export(get_deltaAIC_pairwise_w_ref_model)
export(get_fn_prefix)
export(get_inf_LgL_etc_optimx)
export(get_infparams_optimx)
export(get_infparams_optimx_nosim)
export(get_infprobs_of_simstates)
export(get_path_first)
export(get_path_last)
export(get_probvals)
export(get_relative_prob_model1old)
export(get_relative_prob_model2old)
export(get_rownum_ref_model)
export(get_simparams)
export(get_simstates)
export(getareas_from_tipranges_object)
export(getranges_from_LagrangePHYLIP)
export(given_a_starting_state_simulate_branch_end)
export(given_a_starting_state_simulate_split)
export(infprobs_to_probs_of_each_area)
export(infprobs_to_probs_of_each_area_from_relprobs)
export(letter_string_to_binary)
export(letter_strings_to_tipranges_df)
export(lrttest)
export(lrttest_on_summary_table)
export(make_dispersal_multiplier_matrix)
export(make_relprob_matrix_bi)
export(make_relprob_matrix_de)
export(make_relprob_nummatrix_sp1)
export(make_relprob_txtmatrix_sp1)
export(make_spmat_row)
export(mapply_likelihoods)
export(mapply_likelihoods_prebyte)
export(maxsize)
export(meval)
export(normat)
export(nullsym_to_NA)
export(paste_rows_without_zeros)
export(pdfit)
export(pdftable)
export(process_optim)
export(read_PHYLIP_data)
export(rel_likes_from_deltaAICs)
export(rel_likes_from_deltaAICs_pairwise)
export(relative_probabilities_of_subsets)
export(relative_probabilities_of_vicariants)
export(remove_null_rowcols_from_mat)
export(save_tipranges_to_LagrangePHYLIP)
export(sfunc)
export(simstates_to_probs_of_each_area)
export(simulate_biogeog_history)
export(simulated_indexes_to_tipranges_file)
export(simulated_indexes_to_tipranges_object)
export(size_species_matrix)
export(slashslash)
export(strsplit2)
export(symbolic_cell_to_relprob_cell)
export(symbolic_cell_to_relprob_cell_sp)
export(symbolic_to_P_matrix)
export(symbolic_to_Q_matrix)
export(symbolic_to_Q_matrix_exper)
export(symbolic_to_relprob_matrix_sp)
export(tipranges_to_tip_condlikes_of_data_on_each_state)
export(unlist_df)
export(unlist_df2)
export(unlist_df3)
export(unlist_df4)
export(vfunc)
export(yfunc)
